
@font-face {
    font-family: 'bold';
    src: url('../fonts/AvenirNextCyr-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'demi';
    src: url('../fonts/AvenirNextCyr-Demi.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'medium';
    src: url('../fonts/AvenirNextCyr-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'regular';
    src: url('../fonts/AvenirNextCyr-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@import '_var';
@import '_help';
@import '_slick';
@import '_slick-theme';

body {
    font-family: $f400;
    color: $text-color;
    font-size: 18px;
    line-height: 22px;
}
.aside{
    position: fixed;
    width: 320px;
    top: 0;
    left: 0;
    bottom: 0;
    background: url(../img/side_bg.png) center bottom no-repeat, linear-gradient(24.96deg, #7321E8 25.46%, #EAAAFA 88.49%);
    border-radius: 0px 16px 16px 0px;
    padding: 40px;
}
.logo{
    display: block;
    width: 218px;
    height: 48px;
    background: url(../img/logo.svg) center center no-repeat;
}
.app-group {
    position: absolute;
    bottom: 40px;
    left: 40px;
}
.app {
    width: 240px;
    height: 48px;
    cursor: pointer;
    transition: $transition;
    &_play {
        background: url(../img/btn_app_white.png) center center no-repeat;
        margin-bottom: 8px;
    }
    &_app {
        background: url(../img/btn_pla_white.png) center center no-repeat;
    }
    &:hover{
    }
}
.login {
    display: inline-flex;
    align-items: center;
    color: #fff;
    font-family: $f450;
    cursor: pointer;
    margin: 200px 0 32px;
    &__icon{
        margin-right: 8px;
    }
}
hr{
    border: 0;
    border-bottom: 1px solid #fff;
    opacity: 0.5;
}
.main{
    padding: 40px 40px 40px 360px;
}
.container{
    width: 640px;
    margin: 0 auto;
}
.page{
    background: url(../img/page_bg.png) left top / 100% no-repeat;
}
.user {
    flex-direction: column;
    display: flex;
    align-items: center;
    padding-top: 40px;
    &__nick {
        padding: 0px 16px;
        height: 40px;
        background: #FFFFFF;
        border-radius: 60px;
        font-size: 18px;
        line-height: 22px;
        font-family: $f700;
        align-items: center;
        display: flex;
        margin-bottom: 24px;
    }
    &__main {
        display: flex;
        align-self: stretch;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 24px;
    }
    &__follow {
        width: 33.333%;
        display: flex;
        justify-content: flex-start;
        &_right{
            justify-content: flex-end;
        }
    }
    &__follow-count {
        font-size: 24px;
        line-height: 29px;
        font-family: $f750;
        margin-bottom: 8px;
    }
    &__follow-label{
        opacity: 0.6;
        font-family: $f450;
    }
    &__follow-inner {
        text-align: center;
    }
    &__ava {
        width: 120px;
        height: 120px;
        display: flex;
        justify-content: center;

      &_online {
        position: relative;
        &:after{
            display: block;
            content: '';
            position: absolute;
            width: 16px;
            height: 16px;
            border: 3px solid #fff;
            border-radius: 50%;
            bottom: -3px;
            right: -3px;
            background: #27D34C;
        }
      }
    }
    &__pic {
        border-radius: 32px;
    }
    &__name {
        display: flex;
        align-items: center;
        font-size: 24px;
        line-height: 29px;
        font-family: $f700;
        margin-bottom: 16px;
    }
    &__verified {
        margin-left: 8px;
    }
    &__about {
        text-align: center;
        padding: 0 40px;
    }
    &__action {
        display: flex;
        gap: 8px;
        margin: 40px 0;
        width: 100%;    
        padding: 0 40px;
        .btn{
            font-family: $f700;
            flex: 0 0 calc(50% - 4px);
        }
    }
}
.btn {
    background: linear-gradient(41.19deg, #7321E8 9.55%, #EAAAFA 95.15%);
    border-radius: 16px;
    height: 48px;
    font-size: 16px;
    line-height: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: $f450;
    cursor: pointer;
    transition: $transition;
    border: 0;
    padding: 0 40px;
    &:hover{
        background: linear-gradient(41.19deg, #7321E8 9.55%, #EAAAFA 95.15%);
        box-shadow: 0px 16px 32px rgba(115, 33, 232, 0.25);
    }
    &:active{
        background: linear-gradient(41.19deg, #571BAD 9.55%, #CF95DD 95.15%);
        color: #fff;
    }
    &:focus{
        color: #fff;
    }
    &:disabled{
        background: linear-gradient(41.19deg, rgba(115, 33, 232, 0.5) 9.55%, rgba(234, 170, 250, 0.5) 95.15%);
        box-shadow: none;
        cursor: not-allowed;
    }
    svg{
        width: 20px;
        height: 20px;
        fill: #fff;
        margin-right: 8px;
    }
    &_light {
        background: #F9E6FE;
        color: #7321E8;
        stroke: #7321E8 !important;
        &:hover{
            background: #F9E6FE;
            box-shadow: 0px 16px 32px rgba(183, 115, 237, 0.15);
        }
        &:active{
            background: rgba(212, 111, 237, 0.3);
            color: #7321E8;
        }
        &:focus{
            color: #7321E8;
        }
        &:disabled{
            background: rgba(147, 154, 174, 0.1);
            box-shadow: none;
            cursor: not-allowed;
            color: #939AAE;
            svg{
                stroke: #939AAE !important;
            }
        }
    }
    &_light-inactive {
        background: rgba(147, 154, 174, 0.1);
        color: #939AAE;
        &:hover{
            background: #F9E6FE;
            box-shadow: 0px 16px 32px rgba(183, 115, 237, 0.15);
            color: #7321E8;
        }
    }
    &_center{
        display: inline-flex;
        margin: 0 auto;
    }
}
.tab {
    display: flex;
    gap: 8px;
    width: 100%;    
    padding: 0 40px;
    margin-bottom: 40px;
    .btn{
        flex: 0 0 calc(25% - 6px);
    }
}
.post {
    &__pic {
        border-radius: 16px;
    }
    &__action {
        margin: 18px 0;
        display: flex;
        justify-content: space-between;
    }
    &__action-group {
        display: flex;
        align-items: center;
    }
    &__btn {
        display: flex;
        align-items: center;
        margin-left: 18px;
        font-size: 16px;
        line-height: 20px;
        font-family: $f450;
        cursor: pointer;
        &:first-child{
            margin-left: 0;
        }
        svg{
            width: 24px;
            height: 24px;
            fill: #939AAE;
            transition: $transition;
        }
        span{
            padding-left: 6px;
        }
        &:hover{
            svg{
                fill: #7321E8;
            }
        }
        &_co{
            svg{
                width: 20px;
                height: 20px;
            }
        }
    }
    &__text {
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 16px;
    }
    &__all {
        font-size: 16px;
        line-height: 20px;
        color: #939AAE !important;
        transition: $transition;
        font-family: $f450;
        margin-bottom: 56px;
        display: inline-block;
        &:hover{
            color: $text-color !important;
        }
    }
}
.modal-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(25, 31, 50, 0.8);
    transition: $transition1;
    opacity: 0;
    visibility: hidden;
    overflow-x: hidden;
    overflow-y: auto;
    padding-right: 17px;
    &.vis{
        opacity: 1;
        visibility: visible;
    }
}
.modal {
    width: 640px;
    background: #fff url(../img/modal_bg.png) center top no-repeat;
    top: 50%;
    left: calc(50% - 17px);
    transform: translate(-50%,-50%);
    border-radius: 16px; 
    position: fixed;
    opacity: 0;
    visibility: hidden;
    overflow-x: hidden;
    overflow-y: auto;
    //transition: $transition1;
    &.vis{
        opacity: 1;
        visibility: visible;
    }
    &_btn {
        width: calc(50% - 8px);
        height: 48px;
        transition: $transition;
        &:hover{
        }
    }
    &_btn-app {
        background: url(../img/btn_app.png) center center no-repeat;
    }
    &_btn-pla {
        background: url(../img/btn_pla.png) center center no-repeat;
    }
    &__body {
        padding: 56px 72px;
    }
    &__logo {
        display: block;
        background: url(../img/logo_color.png) center center no-repeat;
        width: 218px;
        height: 48px;
        margin: 0 auto 32px;
    }
    &__desc {
        font-family: $f450;
        font-size: 18px;
        line-height: 26px;
        width: 300px;
        margin-bottom: 32px;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 32px;  
        &_min{
            display: none;
        }  
    }
    &__action {
        display: flex;
        gap: 16px;
    }
    &__close {
        width: 48px;
        height: 48px;
        background: #fff url(../img/close.svg) center center no-repeat;
        border-radius: 16px;
        position: absolute;
        top: 24px;
        right: 24px;
        cursor: pointer;
    }
}
.btn_head{
    display: none;
}
.post__head{
    display: none;
}
.post__more{
    display: none;
}
@import '_query';