
@font-face {
    font-family: 'bold';
    src: url('../fonts/AvenirNextCyr-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'demi';
    src: url('../fonts/AvenirNextCyr-Demi.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'medium';
    src: url('../fonts/AvenirNextCyr-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'regular';
    src: url('../fonts/AvenirNextCyr-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@import '_var';
@import '_help';
@import '_slick';
@import '_slick-theme';

body {
    font-family: $f400;
    color: $text-color;
    font-size: 18px;
    line-height: 22px;

}
.aside{
    position: fixed;
    width: 320px;
    top: 0;
    left: 0;
    bottom: 0;
    background: url(../img/side_bg.png) center bottom no-repeat, linear-gradient(24.96deg, #7321E8 25.46%, #EAAAFA 88.49%);
    border-radius: 0px 16px 16px 0px;
    padding: 40px;
}
.logo{
    display: block;
    width: 218px;
    height: 48px;
    background: url(../img/logo.svg) center center no-repeat;
}
.app-group {
    position: absolute;
    bottom: 40px;
    left: 40px;
}
.app {
    width: 240px;
    height: 48px;
    cursor: pointer;
    &_play {
        background: url(../img/btn_app_white.png) center center no-repeat;
        margin-bottom: 8px;
    }
    &_app {
        background: url(../img/btn_pla_white.png) center center no-repeat;
    }
}
.login {
    display: inline-flex;
    align-items: center;
    color: #fff;
    font-family: $f450;
    cursor: pointer;
    margin: 200px 0 32px;
    &__icon{
        margin-right: 8px;
    }
}
hr{
    border: 0;
    border-bottom: 1px solid #fff;
    opacity: 0.5;
}
.main{
    padding: 40px 40px 40px 360px;
}
.container{
    width: 640px;
    margin: 0 auto;
}
.page{
    background: url(../img/page_bg.png) left top / 100% no-repeat;
}
.user {
    &__nick {}
    &__main {}
    &__follow {}
    &__follow-count {}
    &__ava {
      &_online {}
    }
    &__pic {}
    &__name {}
    &__verified {}
    &__about {}
    &__action {
        display: flex;
        gap: 8px;
        .btn{
            font-family: $f700;
            flex: 0 0 calc(50% - 4px);
        }
    }
}
.btn {
    background: linear-gradient(41.19deg, #7321E8 9.55%, #EAAAFA 95.15%);
    border-radius: 16px;
    height: 48px;
    font-size: 16px;
    line-height: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: $f450;
    cursor: pointer;
    transition: $transition;
    svg{
        width: 20px;
        height: 20px;
        fill: #fff;
        margin-right: 8px;
    }
    &_light {
        background: #F9E6FE;
        color: #7321E8;
        stroke: #7321E8 !important;
    }
    &_light-inactive {}
}
.tab {
    display: flex;
    gap: 8px;
    .btn{
        flex: 0 0 calc(25% - 6px);
    }
}
.post {
    &__pic {}
    &__action {}
    &__action-group {}
    &__btn {}
    &__text {}
    &__all {}
}


@import '_query';